<form #dataForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="containter-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="text-capitalize">Email Address</h4>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <input [(ngModel)]="emailAddress.emailAddress" type="email" name="emailAddress" id="emailAddress" class="form-control form-control-lg" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <select [(ngModel)]="emailAddress.emailAddressType" type="tel" name="emailAddressType" id="emailAddressType" class="form-control form-control-lg">
                                <option value="" selected disabled hidden>Choose Email Address Type</option>
                                <option *ngFor="let p of emailTypes; let i = index" value="{{p}}">{{p}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary"
                            [disabled]="!dataForm.form.valid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="card" *ngIf="(data.emails && ((data.emails)?.length != 0)) else nodata">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <th> # </th>
                <th> Email Address </th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let d of data.emails; let i = index">
                    <td>{{i+1}}</td>
                    <td style="cursor: pointer;" (click)="editEmailAddress(i)">{{d?.emailAddress}}</td>
                    <td style="cursor: pointer;" (click)="removeEmailAddress(i)"><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #nodata>
    <div class="alert alert-info text-center" role="alert">
        <h4>No email addresses found</h4>
    </div>
</ng-template>
