<app-menu></app-menu>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body card-property-list">
                        <div class="property-list-details">
                            <button class="btn btn-dark">Active</button>
                            <div class="h4 text-white">Booker Showers</div>
                            <div class="clearfix">
                                <div class="float-left text-white">booker.showers@gmail.com<br>425.381.9986 </div>
                                <div class="float-right text-white">
                                    <ul>
                                        <li><i class="fa fa-eye" aria-hidden="true"></i> 3</li>
                                        <li><i class="fa fa-commenting-o" aria-hidden="true"></i> 2</li>
                                        <li><i class="fa fa-line-chart" aria-hidden="true"></i> 1</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end clearfix -->
                            <hr>
                            <div class="h6 text-white"><i class="mdi mdi-calendar"></i> Created: 12/01/2021</div>
                            <div class="h6 text-white"><i class="mdi mdi-alert-circle"></i> Last Updated: 02/23/2022 </div>
                            <div class="flot-left">
                                <button class="btn btn-dark btn-sm">Preview</button>
                                <button class="btn btn-dark btn-sm" (click)="onMore()">More</button>
                            </div>
                        </div>
                        <!-- end property-list-details -->
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-md-4">
                <div class="card card-property-single">
                    <img class="card-img-top" src="assets/images/no-photo-350x300.png" alt="Card image cap">
                    <div class="card-body">
                        <div class="address text-theme"> 180 Jasper Lane #108 <br /> pittsburgh PA 82110</div>
                        <hr>
                        <div class="rent-details">
                            <div class="clearfix">
                                <div class="float-left text-dark">
                                    <div class="h5"><strong>$ 1,250 per month</strong></div>
                                    <small>Annual Income</small>
                                </div>
                                <div class="float-right">
                                    <button class="btn btn-theme btn-sm">Active</button>
                                </div>
                            </div>
                        </div>
                        <!-- end rent-details -->
                        <hr>
                        <div class="property-details">
                            <div class="clearfix">
                                <div class="float-left">Type</div>
                                <div class="float-right h5">Student</div>
                            </div>
                            <hr>
                            <!-- end clearfix -->
                            <div class="clearfix">
                                <div class="float-left">Phone</div>
                                <div class="float-right h5">555.555.1212</div>
                            </div>
                            <hr>
                            <!-- end clearfix -->
                            <div class="clearfix">
                                <div class="float-left">Email</div>
                                <div class="float-right h5">my@mail.com</div>
                            </div>
                            <hr>
                            <!-- end clearfix -->
                            <div class="clearfix">
                                <div class="float-left">Gender</div>
                                <div class="float-right h5">Male</div>
                            </div>
                            <hr>
                            <!-- end clearfix -->
                            <div class="clearfix">
                                <div class="float-left">Age</div>
                                <div class="float-right h5">47</div>
                            </div>
                            <!-- end clearfix -->
                        </div>
                        <!-- end property-details -->
                    </div>
                    <!-- end card-body -->
                    <div class="card-footer">
                        <div class="text-center">
                            <button class="btn btn-theme">Explore</button>
                        </div>
                    </div>
                    <!-- end card-footer -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
            <div class="col-md-8">
                <div class="card card-market-perfomance">
                    <div class="card-body">
                        <div class="h5 text-dark"><strong>Interactions</strong></div>
                        <small class="text-theme">BASED ON LAST 30 DAYS</small>
                        <div class="clearfix">
                            <div class="float-right">
                                <div class="h3 text-dark"><strong>19</strong></div>
                                <small>Hot!</small>
                            </div>
                        </div>
                        <!-- end clearfix -->
                        <div id="market-perfomance-area-chart">chart here 1</div>
                        <br />
                        <div class="clearfix">
                            <div class="float-left">
                                <div class="h5 text-dark"><strong>Interaction Details</strong></div>
                                <small class="text-theme">BASED ON LAST 30 DAYS</small>
                            </div>
                            <div class="float-right">
                                <div class="h3 text-dark"><strong>27</strong></div>
                                <small>Cold</small>
                            </div>
                        </div>
                        <!-- end clearfix -->
                        <div class="sales-bars-chart"> bar chart 2 here </div>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <section id="counter---2" class="container-fluid section-block counter-2">
                    <div class="container">
                      <div class="row">
                  
                        <div class="col-md-3 col-sm-6 counter-block">
                          <span class="number">0</span>
                          <span class="number-desc wow fadeIn">Text1</span>
                        </div>
                  
                        <div class="col-md-3 col-sm-6 counter-block">
                          <span class="number">0</span>
                          <span class="number-desc wow fadeIn">Text2</span>
                        </div>
                  
                        <div class="col-md-3 col-sm-6 counter-block">
                          <span class="number">0</span>
                          <span class="number-desc wow fadeIn">Text3</span>
                        </div>
                  
                        <div class="col-md-3 col-sm-6 counter-block">
                          <span class="number">0</span>
                          <span class="number-desc wow fadeIn">Text4</span>
                        </div>
                  
                      </div>
                    </div>
                  </section>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <div class="h5 text-dark"><strong>Suggested Contacts</strong></div>
                                <small class="text-theme">BASED ON LAST Contact</small>
                            </div>
                            <div class="float-right">
                                <div class="h3 text-dark"><strong>4</strong></div>
                                <small>Featured</small>
                            </div>
                        </div>
                        <!-- end clearfix -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card card-property-single">
                                    <img class="card-img-top" src="assets/images/no-photo.png" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="address text-theme"> 180 Jasper Lane #108 <br /> pittsburgh PA 82110</div>
                                        <hr>
                                        <div class="rent-details">
                                            <div class="clearfix">
                                                <div class="float-left text-dark">
                                                    <div class="h5"><strong>$ 1,000 per month</strong></div>
                                                    <small>2 YEAR LEASE REQUIRED</small>
                                                </div>
                                                <div class="float-right">
                                                    <button class="btn btn-danger btn-sm">Rented</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end rent-details -->
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end inside col -->
                            <div class="col-md-3">
                                <div class="card card-property-single">
                                    <img class="card-img-top" src="assets/images/no-photo.png" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="address text-theme"> 180 Jasper Lane #108 <br /> pittsburgh PA 82110</div>
                                        <hr>
                                        <div class="rent-details">
                                            <div class="clearfix">
                                                <div class="float-left text-dark">
                                                    <div class="h5"><strong>$ 2,800 per month</strong></div>
                                                    <small>2 YEAR LEASE REQUIRED</small>
                                                </div>
                                                <div class="float-right">
                                                    <button class="btn btn-info btn-sm">Rented</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end rent-details -->
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end inside col -->
                            <div class="col-md-3">
                                <div class="card card-property-single">
                                    <img class="card-img-top" src="assets/images/no-photo.png" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="address text-theme"> 180 Jasper Lane #108 <br /> pittsburgh PA 82110</div>
                                        <hr>
                                        <div class="rent-details">
                                            <div class="clearfix">
                                                <div class="float-left text-dark">
                                                    <div class="h5"><strong>$ 4,000 per month</strong></div>
                                                    <small>2 YEAR LEASE REQUIRED</small>
                                                </div>
                                                <div class="float-right">
                                                    <button class="btn btn-warning btn-sm">Sold</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end rent-details -->
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end inside col -->
                            <div class="col-md-3">
                                <div class="card card-property-single">
                                    <img class="card-img-top" src="assets/images/no-photo.png" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="address text-theme"> 180 Jasper Lane #108 <br /> pittsburgh PA 82110</div>
                                        <hr>
                                        <div class="rent-details">
                                            <div class="clearfix">
                                                <div class="float-left text-dark">
                                                    <div class="h5"><strong>$ 800 per month</strong></div>
                                                    <small>2 YEAR LEASE REQUIRED</small>
                                                </div>
                                                <div class="float-right">
                                                    <button class="btn btn-success btn-sm">Available</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end rent-details -->
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end inside col -->
                        </div>
                        <!-- end inside row  -->
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end animated fadeIn -->
</div>
<app-footer></app-footer>