<app-menu></app-menu>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body card-property-list">
                        <div class="property-list-details">
                            <button class="btn btn-dark" disabled>Active</button>
                            <div class="h4 text-white">Booker Showers</div>
                            <div class="clearfix">
                                <div class="float-left text-white">booker.showers@gmail.com<br>425.381.9986 </div>
                                <div class="float-right text-white">
                                    <ul>
                                        <li><i class="fa fa-eye" aria-hidden="true"></i> 3</li>
                                        <li><i class="fa fa-commenting-o" aria-hidden="true"></i> 2</li>
                                        <li><i class="fa fa-line-chart" aria-hidden="true"></i> 1</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end clearfix -->
                            <hr>
                            <div class="h6 text-white"><i class="mdi mdi-calendar"></i> Created: 12/01/2021</div>
                            <div class="h6 text-white"><i class="mdi mdi-alert-circle"></i> Last Updated: 02/23/2022 </div>
                            <div class="flot-left">
                                <button class="btn btn-dark btn-sm" (click)="onMore()">More</button>
                            </div>
                        </div>
                        <!-- end property-list-details -->
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        
        <div class="row">
            <div class="col-md-4">
                <div class="card card-property-single">
                    <img class="card-img-top" src="assets/images/crm-headshot1.png" alt="Michael Anderson">
                    <div class="card-body">
                        <div class="address text-theme"> 3983 S Prarie <br /> New York NY 10019</div>
                        <hr>
                        <div class="rent-details">
                            <div class="clearfix">
                                <div class="float-left text-dark">
                                    <div class="h5"><strong>Michael Anderson</strong></div>
                                    <small>Annual Income $43,389</small>
                                </div>
                            </div>
                        </div>
                        <!-- end rent-details -->
                        <hr>
                        <div class="property-details">
                            <div class="clearfix">
                                <div class="float-left">Type</div>
                                <div class="float-right h5">Student</div>
                            </div>
                            <hr>
                            <!-- end clearfix -->
                            <div class="clearfix">
                                <div class="float-left">Phone</div>
                                <div class="float-right h5">555.555.1212</div>
                            </div>
                            <hr>
                            <!-- end clearfix -->
                            <div class="clearfix">
                                <div class="float-left">Email</div>
                                <div class="float-right h5">michael.anderson@email.com</div>
                            </div>
                            <hr>
                            <!-- end clearfix -->
                            <div class="clearfix">
                                <div class="float-left">Gender</div>
                                <div class="float-right h5">Male</div>
                            </div>
                            <hr>
                            <!-- end clearfix -->
                            <div class="clearfix">
                                <div class="float-left">Age</div>
                                <div class="float-right h5">25</div>
                            </div>
                            <!-- end clearfix -->
                        </div>
                        <!-- end property-details -->
                    </div>
                    <!-- end card-body -->
                    <div class="card-footer">
                        <div class="text-center">
                            <button class="btn btn-theme" disabled>Explore</button>
                        </div>
                    </div>
                    <!-- end card-footer -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
            <div class="col-md-8">
                <div class="card card-market-perfomance">
                    <div class="card-body">
                        <div class="h5 text-dark"><strong>Profile Types</strong></div>
                        <div class="clearfix">
                            <div class="float-right">
                                <div class="h3 text-dark"><strong>5</strong></div>
                                <small>Hot!</small>
                            </div>
                        </div>
                        <!-- end clearfix -->
                        <div id="market-perfomance-area-chart">
                            <canvas id="profileTypeChart"></canvas>

                        </div>
                        <br />
                        <div class="clearfix">
                            <div class="float-left">
                                <div class="h5 text-dark"><strong>Contacts Added</strong></div>
                                <small class="text-theme">BASED ON LAST 12 months</small>
                            </div>
                            <div class="float-right">
                                <div class="h3 text-dark"><strong>318</strong></div>
                                <small>Cold</small>
                            </div>
                        </div>
                        <!-- end clearfix -->
                        <div class="sales-bars-chart"> <canvas id="contactsAddedChart"></canvas> </div>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <div class="h5 text-dark"><strong>Suggested Contacts</strong></div>
                                <small class="text-theme">BASED ON LAST Contact and purchase</small>
                            </div>
                            <div class="float-right">
                                <div class="h3 text-dark"><strong>4</strong></div>
                                <small>Featured</small>
                            </div>
                        </div>
                        <!-- end clearfix -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card card-property-single">
                                    <img class="card-img-top" src="assets/images/crm-headshot4.png" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="address text-theme"> 7501 S Stewart <br /> Chicago Il 60636</div>
                                        <hr>
                                        <div class="rent-details">
                                            <div class="clearfix">
                                                <div class="float-left text-dark">
                                                    <div class="h5"><strong>Beverly Cotton</strong></div>
                                                    <small>last contacted January 2012</small>
                                                </div>
                                            </div>
                                            <div>
                                                <button class="btn btn-danger btn-sm" disabled>In-Active</button>
                                            </div>
                                    </div>
                                        <!-- end rent-details -->
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end inside col -->
                            <div class="col-md-3">
                                <div class="card card-property-single">
                                    <img class="card-img-top" src="assets/images/crm-headshot3.png" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="address text-theme"> 3983 Love Dr <br /> Seattle WA 98101</div>
                                        <hr>
                                        <div class="rent-details">
                                            <div class="clearfix">
                                                <div class="float-left text-dark">
                                                    <div class="h5"><strong>Bill Barber</strong></div>
                                                    <small>last contacted Aug 2020</small>
                                                </div>
                                            </div>
                                            <div>
                                                <button class="btn btn-danger btn-sm" disabled>In-Active</button>
                                            </div>
                                    </div>
                                        <!-- end rent-details -->
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end inside col -->
                            <div class="col-md-3">
                                <div class="card card-property-single">
                                    <img class="card-img-top" src="assets/images/crm-headshot2.png" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="address text-theme"> 180 Jasper Lane #108 <br /> Pittsburgh PA 82110</div>
                                        <hr>
                                        <div class="rent-details">
                                            <div class="clearfix">
                                                <div class="float-left text-dark">
                                                    <div class="h5"><strong>Peggy McCallister</strong></div>
                                                    <small>last purchased car battery 3 years ago</small>
                                                </div>
                                            </div>
                                            <div>
                                                <button class="btn btn-warning btn-sm" disabled>Pending</button>
                                            </div>
                                    </div>
                                        <!-- end rent-details -->
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end inside col -->
                            <div class="col-md-3">
                                <div class="card card-property-single">
                                    <img class="card-img-top" src="assets/images/no-photo.png" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="address text-theme"> 3898 Ocean Dr  <br /> Miami Beach FL 10023</div>
                                        <hr>
                                        <div class="rent-details">
                                            <div class="clearfix">
                                                <div class="float-left text-dark">
                                                    <div class="h5"><strong>John Hodson</strong></div>
                                                    <small>recent communication activity detected</small>
                                                </div>
                                            </div>
                                            <div>
                                                <button class="btn btn-success btn-sm" disabled>In Progress</button>
                                            </div>
                                    </div>
                                        <!-- end rent-details -->
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end inside col -->
                        </div>
                        <!-- end inside row  -->
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end animated fadeIn -->
</div>
<app-footer></app-footer>