<form #dataForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="containter-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="text-capitalize">Social Media</h4>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <input [(ngModel)]="socialMedia.name" type="text" name="socialMediaName" id="socialMediaName" class="form-control form-control-lg" autofocus placeholder="Name">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <input [(ngModel)]="socialMedia.url" type="text" name="socialMediaUrl" id="socialMediaUrl" class="form-control form-control-lg" required placeholder="URL">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary"
                            [disabled]="!dataForm.form.valid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="card" *ngIf="(data.socialMedia && ((data.socialMedia)?.length != 0)) else nodata">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <th> # </th>
                <th>URL </th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let d of data.socialMedia; let i = index">
                    <td>{{i+1}}</td>
                    <td style="cursor: pointer;" (click)="editSocialMedia(i)">{{d?.url}}</td>
                    <td style="cursor: pointer;" (click)="removeSocialMedia(i)"><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #nodata>
    <div class="alert alert-info text-center" role="alert">
        <h4>No social media found</h4>
    </div>
</ng-template>
