<div class="card" *ngIf="((contactService.items | async)?.length != 0) else nodata">
    <div class="card-header no-print">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-filter"></i></span>
            <input [(ngModel)]="filteredData" type="text" class="form-control" placeholder="Type to filter listing" aria-label="contactName" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead>
                <th> # </th>
                <th> ID </th>
                <th> Dispaly </th>
                <th> First </th>
                <th> Last </th>
                <th> Status </th>
            </thead>
            <tbody>
                <tr *ngFor="let data of contactService.items | async | contactFilter:filteredData; let i = index" [ngClass]="{'text-muted' : !data.active}">
                    <td>{{i+1}}</td>
                    <td style="cursor: pointer;" (click)="onView(data)">{{data?._id}}</td>
                    <td style="cursor: pointer;" (click)="onView(data)">{{data?.displayName}}</td>
                    <td style="cursor: pointer;" (click)="onView(data)">{{data?.firstName}}</td>
                    <td style="cursor: pointer;" (click)="onView(data)">{{data?.lastName}}</td>
                    <td style="cursor: pointer;" (click)="onView(data)">{{data?.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #nodata>
    <div class="alert alert-info text-center" role="alert">
        <p>&nbsp;</p>
        <h4>Nothing found</h4>
        <p>&nbsp;</p>
    </div>
</ng-template>