<form #dataForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="containter-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="text-capitalize">Notes</h4>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <input [(ngModel)]="note.name" type="text" name="noteName" id="noteName" class="form-control form-control-lg" autofocus placeholder="Note Name">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="form-group">
                            <textarea [(ngModel)]="note.text" type="" name="noteText" id="noteText" class="form-control form-control-lg" cols="30" rows="10" placeholder="Type note here" required>

                            </textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary"
                            [disabled]="!dataForm.form.valid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="card" *ngIf="(data.notes && ((data.notes)?.length != 0)) else nodata">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <th> # </th>
                <th> Note </th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let d of data.notes; let i = index">
                    <td>{{i+1}}</td>
                    <td style="cursor: pointer;" (click)="editNote(i)">{{d?.text}}</td>
                    <td style="cursor: pointer;" (click)="removeNote(i)"><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #nodata>
    <div class="alert alert-info text-center" role="alert">
        <h4>No notes found</h4>
    </div>
</ng-template>
